name: CI Pipeline - Node.js Express

on:
  push:
    branches:
      - main  
  pull_request:
    branches:
      - main  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Configurer Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18  

      - name: Installer les dépendances
        run: npm install

      - name: Exécuter les tests
        run: npm test

      - name: Vérifier le code avec ESLint
        run: npm run lint

      - name: Vérifier les vulnérabilités avec npm audit
        run: npm audit --audit-level=high
